<!DOCTYPE html>
<html>
<head>
    <title>Vote Panel</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="navbar">
    <div class="brand">
        <img src="{{ url_for('static', filename='logo.jpeg') }}" class="logo">
        <h2>Queensgate Capital</h2>
    </div>
</div>

<div class="container">

    <h1>Voting Panel</h1>

    <p class="badge">
        {{ topic.title }}
    </p>

    <p style="margin-top:15px;">
        Logged in as:
        <b style="color:#38bdf8;">
            {{ voter_email }}
        </b>
    </p>

    <p class="badge">
        Your Voting Power:
        {{ voting_power }}
    </p>

    <hr style="margin:20px 0; border:1px solid rgba(255,255,255,0.1);">

    {% if has_voted == 1 %}

    <h2 style="color:#22c55e;">
        ✅ You already voted.
    </h2>

    <br>

    <a href="/"
       style="
       display:inline-block;
       padding:10px 18px;
       background:#38bdf8;
       color:white;
       border-radius:10px;
       text-decoration:none;
       font-weight:600;
       ">
       ⬅ Back to Dashboard
    </a>

{% else %}

        <h2>Cast Your Vote</h2>

        <form method="POST">

            <label>Select Candidate</label>

            <select name="candidate_name" required>

                {% for candidate in candidates %}

                    <option value="{{ candidate['name'] }}">
                        {{ candidate['name'] }}
                    </option>

                {% endfor %}

            </select>

            <br><br>

            <button type="submit">
                Submit Vote
            </button>

        </form>

    {% endif %}

    <hr style="margin:25px 0; border:1px solid rgba(255,255,255,0.1);">

    <h2>Candidates</h2>

    <ul>

        {% for candidate in candidates %}

            <li>
                {{ candidate['name'] }}
            </li>

        {% endfor %}

    </ul>

</div>

</body>
</html>